@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{

    <form class="form-horizontal" style="background-color:whitesmoke">

        <div class="jumbotron">
            <div class="form-group">
                <h3>Enter amount of players:</h3>
                <input type="text" class="form-control" id="amountOfPlayers" name="amountOfPlayers">
                <button type='button' class="btn btn-default" id="start-button">Apply</button>
            </div>
        </div>
        <br />
        <br />


        <div class="form-group">
            <div class="playernames">
                <table id="nameTable">
                    <thead>
                        <tr>
                            <th>Player names</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            </div>

            <div class="table">
                <table id="tabell">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Games</th>
                            <th>Wins</th>
                            <th>Tied</th>
                            <th>Losses</th>
                            <th>Point-difference</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Schedule</h2>
                    <div id="schedule">


                    </div>
                </div>
            </div>


</form>
}
<script src="~/Scripts/Custom/createTable.js"></script>
